{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="#" data-router-navigate="activities.html" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Activities</a>
        </div>
    </li>
{% endblock %}

{% block content %}
    {% autoescape false %}
        <!-- ALL ACTIVITIES -->
        <div class="grid grid-cols-1 mb-4">
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <form class="mb-2 flex items-center">
                    <label for="search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input id="search" type="text" placeholder="Search activity..." class="table-search bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </form>
                <div class="relative overflow-x-auto">
                    <table class="searchable sortable w-full text-sm text-center text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgCalendar }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="no-sort px-2 py-3 bg-gray-50 dark:bg-gray-700 lg:sticky lg:left-0">

                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgDistance }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgElevation }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgTime }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgPower }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgSpeed }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgHeartRate }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3 cursor-pointer">
                                <div class="flex items-center justify-center">
                                    {{ svgCalories }}
                                    {{ svgSortingIcon }}
                                </div>
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 5s
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 10s
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 30s
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 1m
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 5m
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 8m
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 20m
                            </th>
                            <th scope="col" colspan="2" class="no-sort px-6 py-3">
                                Best 1h
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                            <tr data-searchables="{{ activity.getSearchables()|join(' ') }}" class="{{ cycle(['bg-white border-b dark:bg-gray-900 dark:border-gray-700', 'border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700'], loop.index0) }}">
                                <td data-sort="{{ activity.getStartDate().getTimestamp() }}" class="px-2 py-2">
                                    <div class="w-[4.5rem]">{{ activity.getStartDate().format('d-m-y') }}</div>
                                </td>
                                <td class="px-2 py-2 truncate lg:sticky lg:left-0 {{ cycle(['bg-white dark:bg-gray-900', 'bg-gray-50 dark:bg-gray-800'], loop.index0) }}">
                                    {{ render('html/component/activity-title.html.twig', {'activity': activity, 'ellipses': 50}) }}
                                </td>
                                <td data-sort="{{ activity.getDistanceInKilometer() }}" class="px-6 py-2 {{ activityHighlights.getLongestDistance() == activity.getDistanceInKilometer() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getDistanceInKilometer()|formatNumber(0) }}<span class="text-xs">km</span>
                                </td>
                                <td data-sort="{{ activity.getElevationInMeter() }}" class="px-6 py-2 {{ activityHighlights.getHighestElevation() == activity.getElevationInMeter() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getElevationInMeter()|formatNumber(0) }}<span class="text-xs">m</span>
                                </td>
                                <td data-sort="{{ activity.getMovingTimeInSeconds() }}" class="px-6 py-2 {{ activityHighlights.getLongestMovingTimeFormatted() == activity.getMovingTimeFormatted() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getMovingTimeFormatted() }}
                                </td>
                                <td data-sort="{{ activity.getAveragePower() }}" class="px-6 py-2 {{ activityHighlights.getHighestAveragePower() == activity.getAveragePower() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xs">w</span>': 'n/a' }}
                                </td>
                                <td data-sort="{{ activity.getAverageSpeedInKmPerH() }}" class="px-6 py-2 {{ activityHighlights.getFastestAverageSpeed() == activity.getAverageSpeedInKmPerH() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getAverageSpeedInKmPerH() }}<span class="text-xs">km/h</span>
                                </td>
                                <td data-sort="{{ activity.getAverageHeartRate() }}" class="px-6 py-2 {{ activityHighlights.getHighestAverageHeartRate() == activity.getAverageHeartRate() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getAverageHeartRate() ?? 'n/a' }}
                                </td>
                                <td data-sort="{{ activity.getCalories() }}" class="px-6 py-2 {{ activityHighlights.getCalories() == activity.getCalories() ? 'text-strava-orange font-bold': '' }}">
                                    {{ activity.getCalories() }}<span class="text-xs">kcal</span>
                                </td>
                                {% for timeInterval in timeIntervals %}
                                    {% set powerOutput = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
                                    {% if powerOutput %}
                                        <td class="px-2 py-2 border-l-2">
                                            {{ powerOutput.getPower() }}<span class="text-xs">w</span>
                                        </td>
                                        <td class="px-2 py-2 border-r-2">
                                            {{ powerOutput.getRelativePower() }}<span class="text-xs">w/kg</span>
                                        </td>
                                    {% else %}
                                        <td class="px-2 py-2"></td>
                                        <td class="px-2 py-2"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}