{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="#" data-router-navigate="alpe-du-zwift" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Alpe du Zwift</a>
        </div>
    </li>
{% endblock %}
{% block content %}
    {% autoescape false %}
        <div class="grid grid-cols-1 gap-4">
            <!-- INTRO -->
            <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow lg:flex-row dark:border-gray-700 dark:bg-gray-800">
                <img class="object-cover w-full rounded-t-lg h-full lg:w-1/2 lg:rounded-none lg:rounded-s-lg" src="https://www.smartbiketrainers.com/wp/wp-content/uploads/2018/03/zwiftdualpe.jpg" alt="Alpe du Zwift">

                <div class="p-4 leading-normal">
                    <p class="mb-4">Modeled after France’s infamous Alpe d’Huez, Alpe du Zwift was the biggest climb in game when it was introduced in March 2018. Zwift created this route using GPS data to perfectly match the incline and distance of the storied climb and its 21 hairpin turns.</p>

                    <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Key details</h2>
                    <ul class="max-w-md space-y-1 list-disc list-inside">
                        <li>
                            Length: 12.2 km
                        </li>
                        <li>
                            Elevation Gain: 1036 m
                        </li>
                        <li>
                            Average Gradient: 8.5%
                        </li>
                        <li>
                            <a href="https://www.strava.com/segments/17267489" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Strava segment</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ATTEMPTS -->
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <h3 class="font-bold mb-2">Attempts</h3>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                        <thead class="z-[10] sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="cursor-pointer px-2 py-3 bg-gray-50 dark:bg-gray-700 lg:sticky lg:left-0">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('hashtag') }}
                                </div>
                            </th>
                            <th scope="col" class="cursor-pointer px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('calendar') }}
                                </div>
                            </th>
                            <th scope="col" class="no-sort px-2 py-3">
                            </th>
                            <th scope="col" class="cursor-pointer px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('time') }}
                                </div>
                            </th>
                            <th scope="col" class="cursor-pointer px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('speed') }}
                                </div>
                            </th>
                            <th scope="col" class="cursor-pointer px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('power') }}
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for segmentEffort in segmentEfforts %}
                            <tr class="{{ cycle(['bg-white border-b dark:bg-gray-900 dark:border-gray-700', 'border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700'], loop.index0) }}">
                                <td class="px-2 py-2 truncate lg:sticky lg:left-0 {{ cycle(['bg-white dark:bg-gray-900', 'bg-gray-50 dark:bg-gray-800'], loop.index0) }}">
                                    {{ loop.index }}
                                </td>
                                <td class="px-2 py-2">
                                    <div class="flex justify-center">
                                        <div class="w-[4.5rem]">{{ segmentEffort.getStartDateTime().format('d-m-y') }}</div>
                                    </div>
                                </td>
                                <td class="px-2 py-2">
                                    {{ renderComponent('activity-title', {'activity': segmentEffort.getActivity(), 'truncate': true}) }}
                                </td>
                                <td class="px-2 py-2">
                                    {{ segmentEffort.getElapsedTimeFormatted() }}
                                </td>
                                <td class="px-2 py-2">
                                    {{ segmentEffort.getAverageSpeedInKmPerH()|formatNumber(1) }}<span class="text-xs">km/h</span>
                                </td>
                                <td class="px-2 py-2">
                                    {% if segmentEffort.getAverageWatts() %}
                                        {{ segmentEffort.getAverageWatts()|formatNumber(1) }}<span class="text-xs">w</span>
                                    {% else %}
                                        n/a
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}