{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="#" data-router-navigate="photos.html" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Photos</a>
        </div>
    </li>
{% endblock %}

{% block content %}
    {% autoescape false %}
        <!-- PHOTOS -->
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="photoTypeTab" data-tabs-toggle="#photoTypeTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <a href="#" data-tabs-target="#Ride" role="tab" aria-controls="Ride" aria-selected="true" class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 aria-selected:text-strava-orange aria-selected:border-strava-orange group">
                        Rides ({{ rideImagesCount }})
                    </a>
                </li>
                <li class="mr-2" role="presentation">
                    <a href="#" data-tabs-target="#VirtualRide" role="tab" aria-controls="VirtualRide" class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 aria-selected:text-strava-orange aria-selected:border-strava-orange group">
                        Virtual rides ({{ virtualRideImagesCount }})
                    </a>
                </li>
            </ul>
        </div>
        {% set photoTypes = ['VirtualRide', 'Ride'] %}
        <div id="photoTypeTabContent">
            {% for photoType in photoTypes %}
                <div class="gap-4 columns-2 md:columns-3 lg:columns-4" id="{{ photoType }}" role="tabpanel" aria-labelledby="{{ photoType }}-tab">
                    {% set filteredImages = images|filter(image => image.getActivity().getType().value == photoType) %}
                    {% for image in filteredImages %}
                        <div class="mb-4 break-inside-avoid-column bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <a href="{{ image.getActivity().getUrl() }}" target="_blank">
                                <img class="h-auto max-w-full rounded-t-lg lazy" data-src="{{ image.getGitHubImageUrl() }}" alt="{{ image.getActivity().getName() }}" src="{{ placeholderImage }}" />
                            </a>

                            <div class="p-2 text-center">
                                <a href="{{ image.getActivity().getUrl() }}" target="_blank">
                                    <h5 class="font-bold tracking-tight text-gray-900 dark:text-white hover:underline">{{ image.getActivity().getName() }}</h5>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endautoescape %}
{% endblock %}