{% extends "html/base.html.twig" %}

{% block breadcrumbs %}
    <li>
        <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a href="#" data-router-navigate="segments.html" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Segments</a>
        </div>
    </li>
{% endblock %}
{% block content %}
    {% autoescape false %}
        <div class="grid grid-cols-1 gap-4">
            <!-- SEGMENTS -->
            <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <form class="mb-2 flex items-center">
                    <label for="search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input id="search" type="text" placeholder="Search segment..." class="table-search bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </form>
                <div class="relative overflow-x-auto">
                    <table class="searchable w-full text-sm text-center text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3">

                            </th>
                            <th scope="col" class="px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('trophy') }}
                                </div>
                            </th>
                            <th scope="col" class="px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('distance') }}
                                </div>
                            </th>
                            <th scope="col" class="px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('max-gradient') }}
                                </div>
                            </th>
                            <th scope="col" class="px-2 py-3">
                                <div class="flex items-center justify-center">
                                    {{ renderSvg('hashtag') }}
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for segment in segments %}
                            <tr data-searchables="{{ segment.getSearchables()|join(' ') }}" class="{{ cycle(['bg-white border-b dark:bg-gray-900 dark:border-gray-700', 'border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700'], loop.index0) }}">
                                <td class="px-2 py-2 text-left">
                                    <div class="flex items-center gap-x-1">
                                        <a href="#" data-model-content-url="segment/{{ segment.getId() }}.html" class="flex items-center gap-x-1 font-medium text-blue-600 dark:text-blue-500 hover:underline" rel="nofollow">
                                            {% if segment.getActivityType().isVirtual() %}
                                                {{ renderSvg('zwift-logo') }}
                                            {% else %}
                                                {{ renderSvg('bike') }}
                                            {% endif %}
                                            <span class="truncate">{{ segment.getName()|ellipses(50) }}</span>
                                        </a>
                                        {% if segment.isStarred() %}
                                            {{ renderSvg('star') }}
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="px-2 py-2">
                                    <div class="flex justify-center">
                                        <div class="w-[13rem]">
                                            {{ segment.getBestEffort().getElapsedTimeFormatted() }}
                                            <span class="font-medium">-</span> {{ segment.getBestEffort().getAverageSpeedInKmPerH()|formatNumber(1) }}<span class="text-xs">km/h</span>
                                            {% if segment.getBestEffort().getAverageWatts() %}
                                                <span class="font-medium">-</span> {{ segment.getBestEffort().getAverageWatts()|formatNumber(0) }}<span class="text-xs">w</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="px-2 py-2">
                                    {{ segment.getDistanceInKilometer()|formatNumber(2) }}<span class="text-xs">km</span>
                                </td>
                                <td class="px-2 py-2">
                                    {{ segment.getMaxGradient() }}<span class="text-xs">%</span>
                                </td>
                                <td class="px-2 py-2">
                                    {{ segment.getNumberOfTimesRidden() }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}