{% autoescape false %}
<tr class="group odd:bg-white border-b odd:dark:bg-gray-900 odd:dark:border-gray-700 even:border-b even:bg-gray-50 even:dark:bg-gray-800 even:dark:border-gray-700">
    <td class="px-2 py-2">
        {{ activity.getStartDate().format('d-m-y') }}
    </td>
    <td class="px-2 py-2 truncate lg:sticky lg:left-0 group-odd:bg-white group-odd:dark:bg-gray-900 group-even:bg-gray-50 group-even:dark:bg-gray-800">
        {{ renderComponent('activity-title', {'activity': activity, 'ellipses': 50}) }}
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getLongestDistance() == activity.getDistanceInKilometer() ? 'text-strava-orange font-bold': '' }}">
        {{ activity.getDistanceInKilometer()|formatNumber(0) }}<span class="text-xs">km</span>
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getHighestElevation() == activity.getElevationInMeter() ? 'text-strava-orange font-bold': '' }}">
        <div class="w-[4rem]">{{ activity.getElevationInMeter()|formatNumber(0) }}<span class="text-xs">m</span></div>
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getLongestMovingTimeFormatted() == activity.getMovingTimeFormatted() ? 'text-strava-orange font-bold': '' }}">
        {{ activity.getMovingTimeFormatted() }}
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getHighestAveragePower() == activity.getAveragePower() ? 'text-strava-orange font-bold': '' }}">
        {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xs">w</span>': 'n/a' }}
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getFastestAverageSpeed() == activity.getAverageSpeedInKmPerH() ? 'text-strava-orange font-bold': '' }}">
        {{ activity.getAverageSpeedInKmPerH() }}<span class="text-xs">km/h</span>
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getHighestAverageHeartRate() == activity.getAverageHeartRate() ? 'text-strava-orange font-bold': '' }}">
        {{ activity.getAverageHeartRate() ?? 'n/a' }}
    </td>
    <td class="px-6 py-2 {{ activityHighlights.getCalories() == activity.getCalories() ? 'text-strava-orange font-bold': '' }}">
        {{ activity.getCalories() }}<span class="text-xs">kcal</span>
    </td>
    {% for timeInterval in timeIntervals %}
        {% set powerOutput = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
        {% if powerOutput %}
            <td class="px-2 py-2 border-l-2 dark:border-gray-700">
                {{ powerOutput.getPower() }}<span class="text-xs">w</span>
            </td>
            <td class="px-2 py-2 border-r-2 dark:border-gray-700">
                {{ powerOutput.getRelativePower() }}<span class="text-xs">w/kg</span>
            </td>
        {% else %}
            <td class="px-2 py-2"></td>
            <td class="px-2 py-2"></td>
        {% endif %}
    {% endfor %}
</tr>
{% endautoescape %}