{% autoescape false %}
<tr class="odd:bg-white border-b odd:dark:bg-gray-900 odd:dark:border-gray-700 even:border-b even:bg-gray-50 even:dark:bg-gray-800 even:dark:border-gray-700">
    <td class="px-2 py-2 text-left">
        <div class="flex items-center gap-x-1">
            <a href="#" data-model-content-url="segment/{{ segment.getId() }}.html" class="flex items-center gap-x-1 font-medium text-blue-600 dark:text-blue-500 hover:underline" rel="nofollow">
                {% if segment.getActivityType().isVirtual() %}
                    {% if segment.isZwiftSegment() %}
                        {{ renderSvg('zwift-logo') }}
                    {% elseif segment.isRouvySegment() %}
                        {{ renderSvg('rouvy-logo') }}
                    {% else %}
                        {{ renderSvg('indoor-bike') }}
                    {% endif %}
                {% else %}
                    {{ renderSvg('bike') }}
                {% endif %}
                <span class="truncate">{{ segment.getName()|ellipses(50) }}</span>
            </a>
            {% if segment.isStarred() %}
                {{ renderSvg('star') }}
            {% endif %}
        </div>
    </td>
    <td class="px-2 py-2">
        <div class="flex justify-center">
            <div class="w-[13rem]">
                {{ segment.getBestEffort().getElapsedTimeFormatted() }}
                <span class="font-medium">-</span> {{ segment.getBestEffort().getAverageSpeedInKmPerH()|formatNumber(1) }}<span class="text-xs">km/h</span>
                {% if segment.getBestEffort().getAverageWatts() %}
                    <span class="font-medium">-</span> {{ segment.getBestEffort().getAverageWatts()|formatNumber(0) }}<span class="text-xs">w</span>
                {% endif %}
            </div>
        </div>
    </td>
    <td class="px-2 py-2">
        {{ segment.getDistanceInKilometer()|formatNumber(2) }}<span class="text-xs">km</span>
    </td>
    <td class="px-2 py-2">
        {{ segment.getMaxGradient() }}<span class="text-xs">%</span>
    </td>
    <td class="px-2 py-2">
        {{ segment.getNumberOfTimesRidden() }}
    </td>
</tr>
{% endautoescape %}