{% set logoName = 'activity-ride' %}
{% if activity.getType().isVirtual() %}
    {% if activity.isZwiftRide() %}
        {% set logoName = 'activity-virtual-ride-zwift' %}
    {% elseif activity.isRouvyRide() %}
        {% set logoName = 'activity-virtual-ride-rouvy' %}
    {% else %}
        {% set logoName = 'activity-virtual-ride' %}
    {% endif %}
{% endif %}
<img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/{{ logoName }}.svg" width="12" alt="{{ activity.getName() }}" title="{{ activity.getName() }}"/>
<a href="{{ activity.getUrl() }}" title="Kcal: {{ activity.getCalories() ?: 'n/a' }} | Gear: {{ activity.getGearName() ?: 'None' }} ">{{ activity.getName()|ellipses(29) }}</a>