{% autoescape false %}
<table>
    <tr>
        <th></th>
        <th></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/distance.svg" width="30" alt="distance" title="distance"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/elevation.svg" width="30" alt="elevation" title="elevation"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="30" alt="time" title="time"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-watt.svg" width="30" alt="average watts" title="average watts"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-speed.svg" width="30" alt="average speed" title="average speed"/></th>
        <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/heart-rate.svg" width="30" alt="average heart rate" title="average heart rate"/></th>
    </tr>
    {% for activity in activities|slice(0,5) %}
        <tr>
            <td>{{ activity.getStartDate().format('d-m-y') }}</td>
            <td>
                {{ render('markdown/component/activity-title.html.twig', {'activity': activity, 'ellipses': 29}) }}
            </td>
            <td align="center">{{ activity.getDistanceInKilometer()|formatNumber(0) }} <sup><sub>km</sub></sup></td>
            <td align="center">{{ activity.getElevationInMeter()|formatNumber(0) }} <sup><sub>m</sub></sup></td>
            <td align="center">{{ activity.getMovingTimeFormatted() }}</td>
            <td align="center">{{ activity.getAveragePower() ? activity.getAveragePower() ~ ' <sup><sub>w</sub></sup>': 'n/a' }}</td>
            <td align="center">{{ activity.getAverageSpeedInKmPerH() }} <sup><sub>km/h</sub></sup></td>
            <td align="center">{{ activity.getAverageHeartRate() ?? 'n/a' }}</td>
        </tr>
    {% endfor %}
    {% if addLinkToAllActivities %}
        <tr>
            <td colspan="8" align="right"><a href="https://github.com/robiningelbrecht/strava-activities#activities">View all activities</a></td>
        </tr>
    {% endif %}
</table>
{% if not addLinkToAllActivities %}
<details>
    <summary>Older activities</summary>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/distance.svg" width="30" alt="distance" title="distance"/></th>
            <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/elevation.svg" width="30" alt="elevation" title="elevation"/></th>
            <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/time.svg" width="30" alt="time" title="time"/></th>
            <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-watt.svg" width="30" alt="average watts" title="average watts"/></th>
            <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/average-speed.svg" width="30" alt="average speed" title="average speed"/></th>
            <th align="center"><img src="https://raw.githubusercontent.com/robiningelbrecht/strava-activities/master/public/heart-rate.svg" width="30" alt="average heart rate" title="average heart rate"/></th>
        </tr>
        {% for activity in activities|slice(5, 50) %}
            <tr>
                <td>{{ activity.getStartDate().format('d-m-y') }}</td>
                <td>
                    {{ render('markdown/component/activity-title.html.twig', {'activity': activity, 'ellipses': 29}) }}
                </td>
                <td align="center">{{ activity.getDistanceInKilometer()|formatNumber(0) }} <sup><sub>km</sub></sup></td>
                <td align="center">{{ activity.getElevationInMeter()|formatNumber(0) }} <sup><sub>m</sub></sup></td>
                <td align="center">{{ activity.getMovingTimeFormatted() }}</td>
                <td align="center">{{ activity.getAveragePower() ? activity.getAveragePower() ~ ' <sup><sub>w</sub></sup>': 'n/a' }}</td>
                <td align="center">{{ activity.getAverageSpeedInKmPerH() }} <sup><sub>km/h</sub></sup></td>
                <td align="center">{{ activity.getAverageHeartRate() ?? 'n/a' }}</td>
            </tr>
        {% endfor %}
    </table>
</details>
{% endif %}
{% endautoescape %}